@import '~uikit/dist/css/uikit';
@import '../src/stylesheets/trestle/_custom';
@import '../src/stylesheets/trestle/_variables';
@import '../src/stylesheets/scaffolds';
@import '../src/stylesheets/session';
@import '../src/stylesheets/home';
@import '../src/stylesheets/project';
@import '../src/stylesheets/exceptions';


* {
	font-family: 'Allerta Stencil', sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: rgb(24,25,24); 
}
.uk-container-expand {
	height: 100%;	
	padding: 0;
}


img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.uk-heading-2xlarge, .uk-heading-xlarge, .uk-link-heading, #menu {
	font-family: 'Allerta Stencil', sans-serif;
	background-color: rgb(24,25,24);
}
.uk-heading-large, .uk-heading-medium, .uk-heading-small {
	font-family: 'Allerta Stencil', sans-serif;
}
.uk-modal-header, .uk-modal-footer, #menu-trigger {
	border: none;
}

.uk-link-heading:hover, #menu-trigger, .uk-heading-xlarge:hover, .uk-icon-button,.uk-modal-dialog, .uk-modal-header, .uk-modal-footer {
	//color:rgb(159, 166, 159);
	background-color: rgb(24,25,24);
}
 
.uk-button-primary {
	background-color: rgb(46, 77, 63);
}
.uk-button-primary:hover {
	background-color: rgb(77, 128, 105);
}

.chex-link, .support-link {
	
	color:rgb(102, 102, 102);
	background-color: transparent;
}

.custom-error  {
	color:rgb(102, 102, 102);
}


.uk-icon-button {
	background-color: transparent;
}

.chex-link:hover, .project-link:hover, .support-link:hover, .uk-icon-button:hover {
	text-decoration: none;
	color:rgb(255, 255, 255);
	background-color: transparent;
}

.project-link {
	font-size: 60px;
}
.cv-link {
	display: block;
	margin-top: 28%;
	font-size: 1.5em;
}
.chex-card {
	background-color: rgb(46, 77, 63);
}
.chex-cursor{
	height: 130px;
	width: 130px;
	position: absolute;
	z-index: 100;
	display: none;
}
.chex-overlay {
	background-color: rgba(46, 77, 63,0.6);
}






