@import '~uikit/dist/css/uikit';
@import '../src/stylesheets/trestle/_custom';
@import '../src/stylesheets/trestle/_variables';
@import '../src/stylesheets/scaffolds';
@import '../src/stylesheets/session';
@import '../src/stylesheets/home';
@import '../src/stylesheets/project';


* {
	font-family: 'Allerta Stencil', sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: rgb(24,25,24); 
}
.uk-container-expand {
	height: 100%;	
	padding: 0;
}


img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.uk-heading-xlarge, .uk-link-heading, #menu {
	font-family: 'Allerta Stencil', sans-serif;
	background-color: rgb(24,25,24);
}
.uk-heading-large {
	font-family: 'Allerta Stencil', sans-serif;
}
.uk-modal-header {
	border: none;
}

.uk-link-heading:hover, #menu-trigger {
	//color:rgb(159, 166, 159);
	background-color: rgb(24,25,24);
}
.uk-modal-dialog, .uk-modal-header {
	background-color: rgb(46, 51, 49);
}
.uk-button-primary {
	background-color: rgb(46, 77, 63);
}
.uk-button-primary:hover {
	background-color: rgb(77, 128, 105);
}






