// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

.nav, .footer, body{
	background-color: black;
}

.footer-text, .footer-link, body, .nav-link, .nav-link:hover, .thought-link {
	color: #ecf0f1;
}

.title-block > .card-img-overlay{
   color: white;
   font-weight: none;
   max-width: 100%;
   padding-top: 20%;
   padding-bottom: 25%;
}

.about-me-row {
	margin-top: 1%;
}

.project > .card-img-overlay {
	padding-top: 30%;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.btn-link{
	font-size: 200%;
}
.btn-link:hover {
	text-decoration: none;
}
.badge-default, .comment-header , h1.display-3 {
	background-color: #2980b9;
}

.comment-header {
	border: none;
	border-radius: 0%;
}

.footer-link, .small:hover {
	font-size: 125%;
}
.comment-card {
	padding-left: 33%;
	padding-right: 33%;
	text-align: center;
	border: none;
	border-radius: 0%;
}
.card-text:hover {
	font-size: 130%;
	text-decoration: none;
}

.date {
	font-weight: bold;
}
.sign-in-field, .line-field {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0%;
	margin-left: 1%;
}

.badge {
	margin-right: 1%;
	font-size: 120%;
}

.author {
	font-weight: bold;
}


.project, .badge, .comment-field, .thought-field {
	border-radius: 0em;
}

.card, .card-img {
	border: none;
	border-radius: 0px;
}

.small {
	font-size: 100%;
}

.thought {
	background-color: #2ecc71;
}

.danger {
	color: #e74c3c;
}
.danger:hover{
	color: #c0392b;
}
.thought, .bg-inverse.text-danger, .bg-inverse.text-success, .custom-control-description {
	border: none;
	font-size: 150%;
}
.footer-link:hover {
	text-decoration: none;
}
.nav-link:hover, .thought:hover, .thought-content {
	background-color: #27ae60;
}

.nav-link{
	background-color: black;
	margin-left: 0.2em;
	font-size: 150%;
}
.sign-out {
	border: none;
}

.sign-out:hover { 
	background-color: #f1c40f;
}
.thought-link:hover { 
	text-decoration: none;
}

.sign-in-container {
	background-image: url("mountain.jpg");
}
.thought-modify {
	background-image: url("thought-form.jpg");	
}
.project-modify {
	background-image: url("project-form.jpg");
}
.sign-in-container, .thought-modify, .project-modify {
	background-size: 100% 100%;
}

.sign-in, .comment, .project-form, .thought-form, .comment-card{
	margin-top: 2em;
	background-color: black;
}

.sign-in, .thought-form , h1.display-3, .project-form, .about-col {
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}
h1.display-3 {
	display: block;
}

.tcontent {
	height: 16em;
}
.sign-in, h1.display-3, .thought-form, .project-form {
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}
.sign-in{
	margin-bottom: 20em;
}

.img-thumbnail {
	border: none;
}
.hidden {
	display: none;
}